.verticalTableHeader {
    text-align: center;
    white-space: nowrap;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.verticalTableHeader:before {
    content: '';
    padding-top: 110%;
    /* takes width as reference, + 10% for faking some extra padding */
    display: inline-block;
    vertical-align: middle;
}

.cell-avance,
.row-resumen,
.cell-resumen {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: unset !important;
}